<div class="extensions-response" *ngIf="!previewMode" >

    <div class="text-editor-drop">
        <em class="material-icons">drag_indicator</em>
    </div>

    <div class="response-controls">
        <div class="control-button delete" (click)="$event.stopPropagation();onDeleteActionReply()">
            <em class="material-icons">delete</em>
        </div>
        <div class="control-button" (click)="$event.stopPropagation();onMoveUpResponse()">
            <em class="material-icons">expand_less</em>
        </div>
        <div class="control-button" (click)="$event.stopPropagation();onMoveDownResponse()">
            <em class="material-icons">expand_more</em>
        </div>
    </div>

    <div class="delay-wrapper" [ngStyle]="{width: canShowFilter? 'auto': '100%'}">
        <appdashboard-delay-slider
            [delayTime]="delayTime"
            (changeDelayTime)="onChangeDelayTime($event)"
            (clickDelayTime)="onClickDelayTime($event)">
        </appdashboard-delay-slider>
    </div>

    <div class="add-filter-btn-wrp" *ngIf="canShowFilter && filterConditionExist">
        <span class="material-icons-outlined">filter_alt</span>
        {{'CDSCanvas.Filter' | translate }}
    </div>

</div>

<div *ngIf="previewMode" class="text-editor-wrapper previewMode">
    <div class="response-wrp preview-url-title">
        <ng-container *ngIf="previewActiveMode === 'text'">{{ 'UrlPreviewTitleText' | translate }}</ng-container>
        <ng-container *ngIf="previewActiveMode === 'form'">{{ 'UrlPreviewTitleForm' | translate }}</ng-container>
        <ng-container *ngIf="previewActiveMode === 'json_sources'">{{ 'UrlPreviewTitleJson' | translate }}</ng-container>
    </div>
    <div class="response-wrp" *ngIf="previewText">{{ previewText }}</div>
    <div class="response-wrp no-text" *ngIf="!previewText">{{'CDSCanvas.ClickToAddText' | translate }}</div>
</div>

<div *ngIf="!previewMode" class="text-editor-wrapper">

    <!-- Mode selector -->
    <div class="url-mode-row">
        <div class="url-mode-selector">
            <label class="url-mode-tab" [class.active]="activeTab === 'text'">
                <input type="radio" class="url-mode-check" name="urlPreviewMode"
                    [checked]="activeTab === 'text'"
                    (change)="setTab('text')" />
                {{ 'UrlPreviewTabText' | translate }}
            </label>
            <label class="url-mode-tab" [class.active]="activeTab === 'form'">
                <input type="radio" class="url-mode-check" name="urlPreviewMode"
                    [checked]="activeTab === 'form'"
                    (change)="setTab('form')" />
                {{ 'UrlPreviewTabForm' | translate }}
            </label>
            <label class="url-mode-tab" [class.active]="activeTab === 'json_sources'">
                <input type="radio" class="url-mode-check" name="urlPreviewMode"
                    [checked]="activeTab === 'json_sources'"
                    (change)="setTab('json_sources')" />
                {{ 'UrlPreviewTabJsonSources' | translate }}
            </label>
        </div>
    </div>

    <!-- Mode hint -->
    <div class="url-mode-hint">
        <span class="material-icons url-mode-hint__icon">info_outline</span>
        <span class="url-mode-hint__text">
            <ng-container *ngIf="activeTab === 'text'">{{ 'UrlPreviewHint' | translate }}</ng-container>
            <ng-container *ngIf="activeTab === 'form'">{{ 'UrlPreviewHintForm' | translate }}</ng-container>
            <ng-container *ngIf="activeTab === 'json_sources'">{{ 'UrlPreviewHintJsonSources' | translate }}</ng-container>
        </span>
    </div>

    <!-- Mode: Text -->
    <div *ngIf="activeTab === 'text'">
        <cds-textarea
            class="text-editable-div"
            [activeFocus]="activeFocus"
            [text]="rawText"
            [minRow]="1"
            [limitCharsText]="limitCharsText"
            [showUtils]="false"
            [setAttributeBtn]="false"
            [emojiPikerBtn]="false"
            popoverVerticalAlign="above"
            (changeTextarea)="onChangeTextarea($event)"
            (blur)="onBlur($event)"
            (selectedAttribute)="onSelectedAttribute($event)">
        </cds-textarea>
    </div>

    <!-- Mode: Form -->
    <div *ngIf="activeTab === 'form'" class="url-form" (focusout)="onFormFocusOut($event)">
        <div *ngFor="let item of urlFormItems; let i = index" class="url-form__item">
            <div class="url-form__item-header">
                <span class="url-form__item-index">Link {{ i + 1 }}</span>
                <button
                    *ngIf="urlFormItems.length > 1"
                    type="button"
                    class="url-form__remove-btn"
                    (click)="removeFormItem(i)">
                    <em class="material-icons">delete</em>
                </button>
            </div>
            <div class="url-form__field url-form__field--required">
                <label class="url-form__label">{{ 'UrlPreviewFormLink' | translate }} *</label>
                <input
                    class="url-form__input"
                    type="url"
                    [placeholder]="'UrlPreviewFormLinkPlaceholder' | translate"
                    [(ngModel)]="item.source_name" />
            </div>
            <div class="url-form__field">
                <label class="url-form__label">{{ 'UrlPreviewFormTitle' | translate }}</label>
                <input
                    class="url-form__input"
                    type="text"
                    [placeholder]="'UrlPreviewFormTitlePlaceholder' | translate"
                    [(ngModel)]="item.source_file_name" />
            </div>
            <div class="url-form__field">
                <label class="url-form__label">{{ 'UrlPreviewFormDescription' | translate }}</label>
                <input
                    class="url-form__input"
                    type="text"
                    [placeholder]="'UrlPreviewFormDescriptionPlaceholder' | translate"
                    [(ngModel)]="item.source_description" />
            </div>
            <div class="url-form__field">
                <label class="url-form__label">{{ 'UrlPreviewFormImage' | translate }}</label>
                <input
                    class="url-form__input"
                    type="url"
                    [placeholder]="'UrlPreviewFormImagePlaceholder' | translate"
                    [(ngModel)]="item.source_image" />
            </div>
        </div>
        <button type="button" class="url-form__add-btn" (click)="addFormItem()">
            <em class="material-icons">add</em>
            {{ 'Add' | translate }}
        </button>
    </div>

    <!-- Mode: JSON Sources -->
    <div *ngIf="activeTab === 'json_sources'" class="url-json-sources">
        <cds-textarea
            id="jsonSources"
            [textLimitBtn]="false"
            [emojiPikerBtn]="false"
            [setAttributeBtn]="true"
            [isLiquidjs]="false"
            [minRow]="1"
            [maxRow]="1"
            [readonly]="true"
            [showUtils]="true"
            [text]="jsonSourcesValue"
            [placeholder]="'{{json_sources}}'"
            (selectedAttribute)="onJsonSourcesChange($event?.value)"
            (clearSelectedAttribute)="onJsonSourcesChange('')">
        </cds-textarea>
    </div>

</div>
